<section>
  <div class="container-fluid mt-5">
    <div class="row">
      {{#each products}}
      <div class="col-md-3 col-12 p-3"style="align-items:center ">
        <div class="card" style="width: 15rem;height: 31rem; align-items: center;">
          <img class="card-img-top" style="height: 12rem;width: 10rem" src="/product-images/{{this._id}}.jpg" alt="">
          <div class="card-body">
            <h5 class="card-title">{{this.Name}}</h5>
            <p class="card-text">{{this.Description}}</p>
            <a href="#" class="btn btn-primary">Add to cart</a>
          </div>
        </div>
      </div>
      {{/each}}

    </div>

  </div>
</section>